// Import Packages
@import "node_modules/bootstrap/scss/bootstrap";

// Theme
.wrapper {
    margin-top: 2rem;
}

.navbar {
    background: rgba(0, 0, 0, .05);
    border-bottom: 1px solid gainsboro;
}

.table tbody tr td {
    vertical-align: middle;
}

.td-circle {
    width:1px;
    padding-right: 0!important;
}

.circle {
    width: .6rem;
    height: .6rem;
    border-radius: 100%;
    margin-right: .3rem;
    display: inline-block;
}