// Import Packages
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/selectize/dist/css/selectize";

// Variables
$dark-2: #1d2124;

// Theme
.server-description,
.server-description p,
.server-description ul {
    color: rgba(255, 255, 255, 0.75);
    margin: 0;
}

.server-status {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 0.3rem;
    display: inline-block;
}

.server-favicon {
    position: absolute;
    left: -50px;
    top: 1.25rem;
    border: 2px solid #343a43;
    border-radius: 10px;
}

.server-meta-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.server-meta-item:not(:last-child)::after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    margin: 0 0.6rem 0 0.3rem;
    position: relative;
    top: -2.5px;
}

.server-motd {
    display: inline-block;
    text-align: center;
    margin-bottom: 1rem;

    .server-motd--head {
        color: #fff;
        background: rgba(0, 0, 0, 0.7);
        padding: 0.2rem;
        text-transform: uppercase;
        font-size: 9.5pt;
        font-weight: bold;
        border-top-right-radius: 0.3rem;
        border-top-left-radius: 0.3rem;
    }

    .server-motd--content {
        padding: 0.6rem;
        background: rgba(0, 0, 0, 0.6);
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
}

.alert {
    border: 0;
    padding: 0.6rem 0.75rem;

    &.alert-success {
        color: #6dd083;
        background-color: rgba(#6dd083, 0.13);
    }
}

.btn-dark-2 .server-count {
    color: $text-muted;
}

.btn-dark-2 {
    @extend .btn-dark;

    color: #fff;
    border-color: $dark-2;
    background-color: $dark-2;
}

.bg-dark-2 {
    background-color: $dark-2 !important;
}

.border-dark-2 {
    border-color: $dark-2 !important;
}

.text-dark-2 {
    color: $dark-2 !important;
}

.navbar {
    padding: 1rem;
}

.box-round {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 30px;
}

.h-scroll {
    white-space: nowrap;
    overflow: auto;
    flex-wrap: nowrap;
    -ms-overflow-style: none;
}

.h-scroll::-webkit-scrollbar {
    display: none;
}

.btn-filter-group {
    width: 100%;
    flex-wrap: wrap;

    .btn {
        width: 50%;
        border-radius: 0;

        &.btn-dark-2 {
            border-color: #343a43;
        }
    }
}

.td-small {
    width: 10%;
}

.lh-1 {
    line-height: 1;
}

.card-nav-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.table tr:first-child td {
    border: 0;
}

a:hover {
    text-decoration: none;
}

.dark {
    color: #fff;
    background-color: $dark-2;

    .text-link {
        color: #fff;
        transition: 200ms color, 200ms border;

        &.dashed {
            border-bottom: 1px dashed #fff;
        }

        &.dashed:hover {
            border-color: rgba(255, 255, 255, 0.7);
        }

        &:hover {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .card {
        border: 0;
        color: #fff;
        background-color: #343a43;
    }

    .list-group-item {
        color: #fff;
        background-color: #343a43;
    }

    .list-group-item.active {
        color: #fff;
        background-color: $success;
        border-color: $success;
    }

    .dropdown-menu {
        background: $dark-2;
    }

    .table,
    .section-title,
    .dropdown-menu .dropdown-item {
        color: #fff;
    }

    .table td {
        border-color: rgba(0, 0, 0, 0.2);
    }

    .dropdown-menu .dropdown-divider {
        border-top-color: #343a43;
    }

    .dropdown-menu .dropdown-item:hover,
    .dropdown-menu .dropdown-item:focus,
    .dropdown-menu .dropdown-item.active {
        background-color: #343a43;
    }

    .form-control {
        color: #fff;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        padding: 0;
        box-shadow: none !important;
        background-color: transparent;
        transition: border 100ms;
    }

    .form-control:not(.is-invalid) {
        border-color: $dark-2;
    }

    .form-control:focus:not(.is-invalid) {
        border-color: #73b7ff;
    }

    .form-control::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
    }

    .selectize-input,
    .selectize-control.single .selectize-input.input-active {
        color: #fff;
        background: #343a43;
        cursor: text;
        display: inline-block;
        font-size: 1rem;
        border: 1px solid $dark-2;
    }

    .selectize-input.dropdown-active::before {
        border: 1px solid $dark-2;
    }

    .selectize-dropdown {
        color: #fff;
        background: #343a43;
        font-size: 1rem;
        border: 1px solid $dark-2;
    }

    .selectize-dropdown .option {
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    .selectize-dropdown .active {
        color: #fff;
        background: $dark-2;
    }

    .selectize-input,
    .selectize-input input {
        color: #fff;
        font-size: 1rem;
    }

    .selectize-control.multi .selectize-input > div {
        color: #fff;
        background-color: $dark-2;
        border-radius: 5px;
        padding: 0.4rem 0.6rem;
    }

    .nav-tabs {
        border-bottom: 2px solid $success;

        .nav-link {
            color: #fff;
            border: 0;
            transition: background 200ms;

            &:hover {
                background: rgba($success, 0.3);
            }

            &.active {
                color: #fff;
                border: $success;
                background: $success;
            }
        }
    }

    .page-link {
        color: #fff;
        background-color: $dark;
        border: 0;
    }

    .page-item:hover .page-link,
    .page-item.active .page-link {
        background-color: rgba($success, 0.3);
    }

    .page-item.disabled .page-link {
        background-color: $dark;
        opacity: 0.6;
    }
}

.footer {
    padding: 1.5rem 0;
    color: rgba($white, 0.5);
    background-color: darken($dark-2, 2);
}

/** MINECRAFT COLORS **/
.mc-color.mc-0 {
    /* Black */
    color: #000000;
}
.mc-color.mc-1 {
    /* Dark Blue */
    color: #0000aa;
}
.mc-color.mc-2 {
    /* Dark Green */
    color: #00aa00;
}
.mc-color.mc-3 {
    /* Dark Aqua */
    color: #00aaaa;
}
.mc-color.mc-4 {
    /* Dark Red */
    color: #aa0000;
}
.mc-color.mc-5 {
    /* Purple */
    color: #aa00aa;
}
.mc-color.mc-6 {
    /* Gold */
    color: #ffaa00;
}
.mc-color.mc-7 {
    /* Gray */
    color: #aaaaaa;
}
.mc-color.mc-8 {
    /* Dark Gray */
    color: #555555;
}
.mc-color.mc-9 {
    /* Blue */
    color: #5555ff;
}
.mc-color.mc-a {
    /* Green */
    color: #55ff55;
}
.mc-color.mc-b {
    /* Aqua */
    color: #55ffff;
}
.mc-color.mc-c {
    /* Red */
    color: #ff5555;
}
.mc-color.mc-d {
    /* Light Purple */
    color: #ff55ff;
}
.mc-color.mc-e {
    /* Yellow */
    color: #ffff55;
}
.mc-color.mc-f {
    /* White */
    color: #ffffff;
}

/* Formatting */
.mc-color,
.mc-r {
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.mc-l {
    /* Bold */
    font-weight: bold;
}
.mc-n {
    /* Underline */
    text-decoration: underline;
}
.mc-o {
    /* Italic */
    font-style: italic;
}
